@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;500&display=swap');

:root{
    --font-geral: 'Lexend Deca', sans-serif;
    --cor-fundo: #1C1C1C;
    --cor-letras:#27FB6B;
    --cor-a:#14CC60;
}


*{
    padding: 0%;
    margin: 0%;
}

p,a,h1,label{
    font-family: var(--font-geral);
}

body{
    background-color: #ebebeb;
}

.principal{
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin: 5%;
    width: 90%;
    background-color: var(--cor-fundo);
    border-radius: 20px;
}

.principal__img{
    width: 40%;
}

.principal__section{
    display: flex;
    flex-direction: column;
}

.principal__div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1px;
}

.principal__h1{
    color: var(--cor-letras);
    font-size: 2.81rem;
}

.principal__p{
    color: var(--cor-letras);
    font-size: 1.37rem;
}

.principal__a{
    font-size: 1.37rem;
    color: var(--cor-letras);
}

.div__espaço{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-top: 5%;
    padding-bottom: 0%;
    align-items: center;
}

.principal__input{
    width: 180%;
    height: 30px;
    border-radius: 15px;
    padding-left: 4%;
    border: 2px solid var(--cor-fundo);
    outline: var(--cor-letras);
    font-family: var(--font-geral);
}
.principal__input:focus{
    border: 2px solid var(--cor-letras);
}

.principal__div-senha{
    padding-bottom: 6%;
    padding-top: 3%;
}

.principal__label{
    color: var(--cor-letras);
    font-size: 14px;
}

.principal__botao{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: var(--cor-fundo) 1px solid;
    cursor: pointer;
    background-color: var(--cor-letras);
    font-size: 0.87rem;
    font-family: var(--font-geral);
    color: var(--cor-fundo);
}

@media (max-width:349px) {
        .principal{
        flex-direction: column;
        padding: 0%;
        gap: 5px;
        padding-top: 4%;
        padding-bottom: 4%;
        margin: 5% 5%;
        width: 90vw;
    }
    .principal__h1{
    font-size: 2rem;
    }

    .principal__p{
        color: var(--cor-letras);
        font-size: 1rem;
    }
    
    .principal__a{
        font-size: 1rem;
        color: var(--cor-letras);
    }
    .principal__input{
        width: 130%;
        height: 30px;
        border-radius: 15px;
        padding-left: 4%;
        border: 2px solid var(--cor-fundo);
        outline: var(--cor-letras);
        font-family: var(--font-geral);
    }
    .principal__botao{
        width: 150px;
        height: 40px;
        border-radius: 20px;
        border: var(--cor-fundo) 1px solid;
        cursor: pointer;
        background-color: var(--cor-letras);
        font-size: 0.87rem;
        font-family: var(--font-geral);
        color: var(--cor-fundo);
    }
    
}

@media (min-width:350px) and (max-width:800px) {
    .principal{
        flex-direction: column-reverse;
        padding: 0%;
        gap: 5px;
        padding-top: 4%;
        padding-bottom: 2%;
        margin-left: 5%;
        margin-right: 5%;
        height: 85vh;
    }
    .principal__img{
        width: 70%;
    } 
    .principal__section{
        display: flex;
        flex-direction: column;
        padding-bottom: 5%;
    }    
    .principal__div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        gap: 0px;    
    }
    .principal__h1{
        font-size: 2rem;
    }
    .principal__input{
        width: 150%;
        height: 30px;
        border-radius: 15px;
        padding-left: 4%;
        border: 2px solid var(--cor-fundo);
        outline: var(--cor-letras);
        font-family: var(--font-geral);
    }
}
